/*
.enregistrer
{
    /*
    
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    clear: left;
    max-width: 70%;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
    border: 3px solid gray;
    margin-bottom: 2em;
    --height: 3.5em;
    --background-color: rgb(5, 5, 100);
}


.header
{
    display: flex;
    font-size: x-large;
    color: white;
    background-color: rgb(5, 5, 100);
    border: 2px solid rgb(5, 5, 100);
    font-weight: bolder;
    justify-content: center;
    align-items: center;  
    padding-top: 0.8em; 
    padding-bottom: 0.8em;
    border-radius: 7px 7px 0px 0px;
    --width: 100%;
    --transform: translateX(-2px);
}


.contenu
{
    display: flex;
    height: auto;
    justify-content: center;
    border-top: none;
    padding-top: 3em;
    margin-top: 1.05em;
    --width: 100%;
    --border: 2px solid gray;
    --box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.3);
}





#askdossier
{
    --border: 3px solid green;
    max-width: 93%;
    margin-left: 2.2em;
}


.contenu form table tr
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 100%;
}

.contenu form table tr td 
{
    display: flex;
    justify-items: center;
    align-items: center;
    display: block;
    width: 100%;
}

.conducteur input
{
    display: block;
    padding: 1em;
    margin: 1em;
    width: 80%;
    border-radius: 10px;
    border:2px solid rgb(17, 26, 110);
}

.conducteur label
{
   margin-left: 1em;
}

.conducteur_agent input 
{
    padding: 1em;
    margin: 1em;
    width: 90%;
    border-radius: 10px;
    border:2px solid rgb(17, 26, 110);
}

.gender 
{
    --display: flex;
    padding: 1em;
    margin: 1em;
    width: 90%;
    border-radius: 10px;
    border:2px solid rgb(17, 26, 110);
    justify-content: center;
    max-width: 89%;
    margin-left: 0em;
}


.send_button 
{
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5em;
    
}

.send_button input 
{
    background-color: rgb(135, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em 0.5em 1em;
    font-size: larger;
    font-weight: bolder;
}

.send_button input:hover
{
    /*make the button bigger
    transform: scale(1.1);
    margin-right: 0.19em;
    transition: ease-in-out 0.3s;
    /*
    background-color: rgb(135, 0, 0, 0.8);
    
    background-color: rgb(57, 2, 2);
    cursor: pointer;
}
*/