

.boxer {

  background: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 22em;
  --padding: 10em  10em;
  justify-content: center;
  --align-items: center;
  --margin-bottom: 12em;
  border: rgb(47, 47, 1) solid 0.2em;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  --overflow: scroll;
}



table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 98%;
    margin: 1em;
    margin-bottom: 3em;
    border: solid 5px rgb(15, 126, 143);
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(15, 126, 143);
    color: white;
  }

   table th a{
    color: white;
  }

  table td a{
    color: rgb(35, 27, 27);
  }

h1{
  color: black;
}


.boitefiltrer{
     display: flex;
     flex-direction: column;
     justify-content: center;
      --padding: 5em;
      --margin-bottom: 20px;

}

.boitefiltrer input{
     width: 60%;
    margin-left: 5em;
     border-radius: 10px;
     border: rgb(5, 9, 85) solid 2px;
     padding: 0.5em 1em 0.5em 1em;
}

.recherchelabel label{
  display: flex;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(15, 126, 143);
  justify-content: center;
}

.titreofense {
    display: flex;
    width: 100%;
    font-weight: bolder;
    align-content: center;
    color: white;
   justify-content: center;
  background-color: rgb(15, 126, 143);
  padding-top: 0.8em; 
    padding-bottom: 0.8em;
    border-radius: 7px 7px 0px 0px;
}

